<div class="container-fluid">
  <div class="row">
      <div class="container-fluid">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-6 ">
                          <a class="text-decoration-none" href="reg/">
                            <div class="card my_card shadow text-center p-3 bg-warning text-white">
                                <h4>Weight Control <i class="bi bi-fire"></i></h4>
                            </div>
                          </a>
                      </div>

                      <div class="col-6">
                          <a class="text-decoration-none text-dark" href="bmi/">
                              <div class="card my_card shadow text-center p-3 bg-danger text-white">
                                  <h4>Body Mass Index <i class="bi bi-person-arms-up"></i></h4>
                                  <h3></h3>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>